.trackContainer {
    display: flex;
    width: 30vw;
    justify-content: space-around;
    align-items: center;
    margin: 2vh 0;
    box-shadow: inset 10px 10px 20px #6e0f57,
    inset -10px -10px 20px #ba1995;
    border-radius: 20px;
    color: white;
}

ul {
    padding: 0;
}

.addToPlaylistButton {
    display: inline;
    height: 100%;
    border-radius: 6px;
    cursor: pointer;
    box-shadow:  4px 4px 10px #6b0e55,
    -2px -2px 5px #bd1a97;
}
