.tracklistContainer {
    width: 35vw;
    margin-left: 12vw;
    border-radius: 44px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

h2 {
    margin-top: 2vh;
}

.neumorphismShadow {
    box-shadow:  10px 10px 20px #6b0e55,
    -10px -10px 20px #bd1a97;
}

.neumorphismShadowInset {
    box-shadow: inset 10px 10px 20px #6e0f57,
    inset -10px -10px 20px #ba1995;
}